/* Base Application Styles */
@import 'https://fonts.googleapis.com/css?family=Oswald|Raleway';

html {height: 100%;}
body {
  color: #fff;
  background: #111;
  height: 100%;
}
a,a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px dashed #f00;
}
div#app { height: 100%; }
div.index {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
div.index > div {
    flex : 1;
    justify-content: center;
}
.index div.maintext {
    flex:1;
    width: 100%;
    height: 100%;
    font-family: Oswald,sans-serif;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

div.list-container{
    flex: 2 1 auto;
    margin: auto;
    font-size: 4em
}

.index div.list-head{
    flex: 1;
    justify-content: center;
    font-size: 3em;
    font-family: Oswald,sans-serif;
    font-weight: 300;
    text-align: center;
}
.index .list-container ul,li{
    list-style: none;
    font-family: Raleway,sans-serif;
    line-height: 1.5em;
    scroll: auto;
    font-size: 2rem;
}
div.spacer{
    flex:1;
}
.index .hashtag-banner {
    flex: 0 0 10%;
    bottom: 0px;
    width: 100%;
    text-align: center;
    align-content: center;
    padding: 15px;
    font-family: Oswald,sans-serif;
    font-weight:100;
    font-size: 200%;
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px black;
      -webkit-transition: width 0.3s; /*Safari & Chrome*/
      transition: width 0.3s;
      -moz-transition: width 0.3s; /* Firefox 4 */
      -o-transition: width 0.3s; /* Opera */
    background: linear-gradient(90deg, red 0%, red 16.66666666666667%, orange 16.66666666666667%, orange 33.33333333333334%, yellow 33.33333333333334%, yellow 50%, green 50%, green 66.66666666666667%, blue 66.66666666666667%, blue 83.33333333333333%, purple 83.33333333333333%, purple 100%);
}
