/* Base Application Styles */
@import 'https://fonts.googleapis.com/css?family=Oswald|Raleway';

body {
  color: #fff;
  background: #111;
}
a,a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px dashed #f00;
}
div.index {
    scroll: auto;
}
.index div.maintext {
    width: 100%;
    height: 100%;
    font-family: Oswald,sans-serif;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
div.maintext a {
    border-bottom: none;
}

div.list-container{
    margin: 0 auto;
    font-size: 4em
}

.index div.list-head{
    font-size: 3em;
    font-family: Oswald,sans-serif;
    font-weight: 300;
    text-align: center;
}
.index .list-container ul,li{
    list-style: none;
    font-family: Raleway,sans-serif;
    line-height: 1.5em;
    scroll: auto;
    font-size: 2rem;
}

div.spacer{
}
footer.bar {
    bottom: 0px;
    width: calc(100%-30px);
    text-align: center;
    padding: 15px;
    font-family: Oswald,sans-serif;
    font-weight:100;
    font-size: 200%;
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px black;
      -webkit-transition: width 0.3s; /*Safari & Chrome*/
      transition: width 0.3s;
      -moz-transition: width 0.3s; /* Firefox 4 */
      -o-transition: width 0.3s; /* Opera */
    background: linear-gradient(90deg, red 0%, red 16.66666666666667%, orange 16.66666666666667%, orange 33.33333333333334%, yellow 33.33333333333334%, yellow 50%, green 50%, green 66.66666666666667%, blue 66.66666666666667%, blue 83.33333333333333%, purple 83.33333333333333%, purple 100%);

    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
footer.bar a {
    border-bottom: none;
}
footer.links{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: Raleway,sans-serif;
    font-size: 1.3em;
}
footer.links a,a:visited{
    border-bottom: none;
}
.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }
